{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <div class="auth-logo">T</div>

        <h1>Create account</h1>

        <p class="muted">
            Join your software project team.
        </p>

        <form method="post">

            <label>Name</label>
            <input
                name="name"
                placeholder="Full name"
                required
            >

            <label>Email</label>
            <input
                name="email"
                type="email"
                placeholder="you@example.com"
                required
            >

            <label>Password</label>
            <input
                name="password"
                type="password"
                placeholder="Create password"
                required
            >

            <label>Role</label>
            <select name="role">
                <option value="member">Team Member</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
            </select>

            <button class="button full" type="submit">
                Register
            </button>

        </form>

    </div>

</div>

{% endblock %}
