{% extends "base.html" %}

{% block title %}TeamOrbit{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <span class="pill">
            Smart Agile Project Management
        </span>

        <h1>
            Manage your software project
            <span>smarter.</span>
        </h1>

        <p>
            TeamOrbit helps software teams manage projects,
            assign tasks intelligently, track deadlines and
            understand project health from one simple dashboard.
        </p>

        <div class="hero-actions">
            <a class="button" href="{{ url_for('login') }}">
                Get Started
            </a>

            <a class="button secondary"
               href="{{ url_for('register') }}">
                Create Account
            </a>
        </div>

    </div>


    <div class="hero-dashboard">

        <div class="mini-top">
            <span>Project Health</span>
            <span class="health good">GOOD</span>
        </div>

        <div class="hero-number">
            72%
        </div>

        <p>Project completion</p>

        <div class="progress">
            <span style="width:72%"></span>
        </div>

        <div class="mini-stats">

            <div>
                <strong>18</strong>
                <small>Total Tasks</small>
            </div>

            <div>
                <strong>13</strong>
                <small>Completed</small>
            </div>

            <div>
                <strong>0</strong>
                <small>Overdue</small>
            </div>

        </div>

    </div>

</section>


<section class="feature-grid">

    <div class="feature">
        <div class="feature-icon">✓</div>
        <h3>Task Management</h3>
        <p>
            Create, assign, prioritize and track project tasks.
        </p>
    </div>

    <div class="feature">
        <div class="feature-icon">AI</div>
        <h3>Smart Assignment</h3>
        <p>
            Recommend team members using workload and task history.
        </p>
    </div>

    <div class="feature">
        <div class="feature-icon">↗</div>
        <h3>Project Health</h3>
        <p>
            Detect overdue work and identify projects needing attention.
        </p>
    </div>

</section>

{% endblock %}
